<div id="<%= dom_id weight %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= weight.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= weight.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= weight.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit:</strong>
    <%= weight.unit %>
  </p>

</div>
